# Node.js
frontend/node_modules/
frontend/build/
frontend/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
!.env.example

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
backend/app/.venv/
backend/app/env/
backend/app/.ipynb_checkpoints/
backend/app/instance/
backend/app/*.log
backend/app/.Python

# Jupyter Notebooks
.ipynb_checkpoints/

# ngrok
ngrok/ngrok.yml

# Docker
.dockerignore
db_data/
redis_data/
pgadmin_data/

# pgAdmin config
pgadmin_config/logs/
pgadmin_config/sessions/
pgadmin_config/pgadmin4.db

# IDE/editor
.vscode/
.idea/
*.swp
*~

# Misc
.DS_Store
Thumbs.db
backend.zip